spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/health-service
    username: postgres
    password: postgres
  jpa:
    show-sql: true

logging:
  level:
    com.thephysc: DEBUG
    org.springframework: INFO
    org.hibernate: INFO

server:
  port: 8080
